doctype
html
	head
		title "hi"
	body
		| paragraph
		| with multiple lines
		| like this
	h2 Element support

	div#elements so of course it supports divs with ID

	#other_elements
		| In fact we don't even need to use the div prefix for it
	.items Divs can have classes too

	ul
		li first element
		li second element
		li third elemnt

	a(href='http://google.com') Links can also be used
p And even in context as in
	a(href='http://google.com') this example